.btn{
	margin-left: 20px;
	text-decoration: none;
	background-color: white;
	padding: 0 20px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	color: black;
	font-weight: 300;
}