.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background-color: #755dd5;
    background-image: linear-gradient(-225deg, #755dd5 35%, #3788d1);

    .main-title{
        color: white;
        font-weight: bold;
        font-size: 30px;

        @media screen and (max-width: 768px){
            font-size: 20px;
        }
    }

    .filter-date{
        &>div{
            @media screen and (max-width: 768px){
                display: flex;
            }
        }

        label{
            margin-right: 20px;
            font-weight: 300;
            color: white;
        }

        select{
            width: 100px;
            height: 30px;
            border-radius: 6px;
            font-size: 16px;
            height: 40px;
            border: none;
        }
    }
}