.article{
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    color: black;

    &:focus{
        border: 2px solid #755dd5;
        outline: none;
    }

    img{
        max-width: 100%;
        object-fit: cover;
    }

    &__content{
        margin-left: 10px;
    }

    &__title{
        font-size: 20px;
        font-weight: 700;
    }

    &__time{
        margin-top: 10px;
    }

    &--selected{
        background-color: lightgray;
    }
}