<ng-template [ngIf]="post" [ngIfElse]="loading">
    <article class="article" *ngIf="post">
        <div class="article__image-title">
            <img  [src]="'https://demo.dotcms.com/dA/'+post.identifier+'/titleImage'" 
            [attr.data-src]="'https://demo.dotcms.com/dA/'+post.identifier+'/titleImage'" 
            [alt]="'Image about the article '+post.title" class="article__image" />
            <div class="article__title-time-wrapper">
                <h2>{{post.title}}</h2>
                <div class="article__pubDate-readTime">
                    <p>Published {{post.postingDate | publishedFormat}}</p>
                    <p >{{ timeReading }}</p>
                </div>
            </div>
        </div>
        <div [innerHTML]="htmlString" class="article__content"></div>
    </article>
</ng-template>

<ng-template #loading>
    <div class="article__loading">
        <div class="skeleton skeleton--img"></div>
        <div class="skeleton skeleton--text"></div>
    </div>
</ng-template>

