<main class="wrapper">

    <ul class="news-list">

        <ng-template [ngIf]="posts.length" [ngIfElse]="loading">
            <li *ngFor="let post of posts">
                <app-news-list-item [post]="post"></app-news-list-item>
            </li>
        </ng-template>
           
        <ng-template #loading>
            <li *ngFor="let i of [].constructor(10)">
                <div class="square-skeleton"></div>
            </li>
        </ng-template>
        
    </ul>

    <div class="right-side-content">
        <router-outlet></router-outlet>
    </div>
</main>