<app-header></app-header>


<main class="wrapper">

    <ul class="news-list">

        <ng-template [ngIf]="posts" [ngIfElse]="loading">
            <li *ngFor="let post of posts">
                <app-news-list-item [post]="post"></app-news-list-item>
            </li>
            
            <ng-template [ngIf]="posts.length === 0">
                No data
            </ng-template>
        </ng-template>
           
        <ng-template #loading>
            <li *ngFor="let i of [].constructor(10)">
                <div class="square-skeleton"></div>
            </li>
        </ng-template>

        
    </ul>

    <div [ngClass]="['right-side-content', this.isRightSideActiveMobile ? ' -is-active': '']">
        <router-outlet></router-outlet>
    </div>
</main>